:root {
    --player-inside-x: 112px;
}

@font-face {
    font-family: Caldstone;
    src: url("../../fonts/caldstone.semibold.otf")
}

@font-face {
    font-family: "Vinque Antique";
    src: url("../../fonts/vinque-antique.bold.otf");
}

@font-face {
    font-family: "Alan Sans";
    font-weight: 700;
    src: url("../../fonts/AlanSans-Bold.ttf");
}

/* ----- Whole Page ----- */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

/* ----- Player Area ----- */
.player-left-container { left: var(--player-container-x); }
.player-right-container { right: var(--player-container-x); }

/* Player Profile Picture */
.player-profile-picture {
    --dimension: 96px;

    width: var(--dimension);
    height: var(--dimension);
    border-radius: 15px;
    background: center / cover;
    background-image: url("https://a.ppy.sh/9803745")
}

.player-profile-picture > * {
    position: absolute;
    top: 0;
    left: 0;
}

/* Player Name */
.player-name {
    --height: 26px;

    position: absolute;
    top: 21px;
    background-color: white;
    font-family: "Vinque Antique", sans-serif;
    font-size: 1.75rem;
    padding: 0 2px;
    width: max-content;
    height: var(--height);
    line-height: var(--height);
}
.player-left-name { left: var(--player-inside-x); }
.player-right-name { right: var(--player-inside-x); }

/* Player Line 2 */
.player-line-2 {
    position: absolute;
    top: 55px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.player-left-line-2 { left: var(--player-inside-x); }

.player-right-line-2 {
    right: var(--player-inside-x);
    flex-direction: row-reverse;
}

.player-seed {
    font-size: 22px;
    color: white;
    font-family: Caldstone, serif;
}

.player-star-container { display: flex; }
.player-right-star-container { flex-direction: row-reverse; }

.player-star {
    --dimension: 63px;

    width: var(--dimension);
    height: var(--dimension);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -15px;
}

/* Now Playing Stats */
.now-playing-stats {
    position: absolute;
    font-size: 19px;
    font-family: "Vinque Antique", sans-serif;
    display: flex;
    text-align: center;
    gap: 18px;
}

.now-playing-stat-text {
    --color: white;
    --text-shadow-color: white;

    color: var(--color);
    text-shadow: 0 0 8px var(--text-shadow-color);
}

.now-playing-stat-text-cs {
    --color: #63f7e7;
    --text-shadow-color: #5193ff;
}

.now-playing-stat-text-ar {
    --color: #ffa2d4;
    --text-shadow-color: #ff2074;
}

.now-playing-stat-text-od {
    --color: #ff9b91;
    --text-shadow-color: #ff3c28;
}

.now-playing-stat-text-sr {
    --color: #fdff65;
    --text-shadow-color: #faff69;
}

/* ----- Chat Area ----- */
.chat-display {
    position: absolute;
    top: 772px;
    left: 50%;
    transform: translateX(-50%);
    width: 794px;
    height: 223px;
}

.chat-display-container {
    --x-margin: 27px;
    --y-margin: 22px;

    position: absolute;
    top: var(--y-margin);
    left: var(--x-margin);
    width: calc(100% - var(--x-margin) * 2);
    height: calc(100% - var(--y-margin) * 2);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message-wrapper {
    margin: -0.5px 0;
    display: flex;
}

.message-time {
    opacity: 0.341;
    font-size: 15px;
    color: white;
    font-weight: 800;
    font-family: "Alan Sans", sans-serif;
    filter: drop-shadow(0 2px 0.5px rgb(0 0 0 /75%));
    margin-right: 24px;
}

.message-name {
    font-size: 15px;
    font-weight: 800;
    font-family: "Alan Sans", sans-serif;
    filter: drop-shadow(0 2px 0.5px rgb(0 0 0 / 75%));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}
.left { color: #FFC468; }
.right { color: #AF8AE0; }
.bot { color: #E44444; }
.unknown { color: #6DE06A; }

.message-content {
    font-size: 15px;
    font-weight: 800;
    font-family: "Alan Sans", sans-serif;
}