:root {
    --player-container-x: 25px;
    --player-inside-x: 112px;
    --player-hit-count-container: 77px;
    --score-difference-x: 981px;
    --score-difference-span-margin: 10px;
}

@font-face {
    font-family: Caldstone;
    src: url("../fonts/caldstone.semibold.otf")
}

@font-face {
    font-family: "Vinque Antique";
    src: url("../fonts/vinque-antique.bold.otf");
}

@font-face {
    font-family: "Alan Sans";
    font-weight: 700;
    src: url("../fonts/AlanSans-Bold.ttf");
}


/* ----- Whole Page ----- */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("static/background.png");
    overflow: hidden;
}

/* ----- Top Area ----- */
.logo {
    position: absolute;
    left: 780px;
    top: 11px;
}

.round-area {
    position: absolute;
    top: 35px;
    left: 949px;
}

.round-name {
    position: absolute;
    transform: translate(-50%, -50%)
}

/* ----- Player Area ----- */
.player-container {
    position: absolute;
    top: 857px;
}
.player-left-container { left: var(--player-container-x); }
.player-right-container { right: var(--player-container-x); }

/* Player Profile Picture */
.player-profile-picture {
    --dimension: 96px;

    width: var(--dimension);
    height: var(--dimension);
    border-radius: 15px;
    background: center / cover;
    background-image: url("https://a.ppy.sh/9803745")
}

.player-profile-picture > * {
    position: absolute;
    top: 0;
    left: 0;
}

/* Player Name */
.player-name {
    --height: 26px;

    position: absolute;
    top: 21px;
    background-color: white;
    font-family: "Vinque Antique", sans-serif;
    font-size: 1.75rem;
    padding: 0 2px;
    height: var(--height);
    line-height: var(--height);
}
.player-left-name { left: var(--player-inside-x); }
.player-right-name { right: var(--player-inside-x); }

/* Player Line 2 */
.player-line-2 {
    position: absolute;
    top: 55px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.player-left-line-2 { left: var(--player-inside-x); }

.player-right-line-2 {
    right: var(--player-inside-x);
    flex-direction: row-reverse;
}

.player-seed {
    font-size: 22px;
    color: white;
    font-family: Caldstone, serif;
}

.player-star-container { display: flex; }
.player-right-star-container { flex-direction: row-reverse; }

.player-star {
    --dimension: 63px;

    width: var(--dimension);
    height: var(--dimension);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -15px;
}

/* Player Line */
.player-line {
    position: absolute;
    top: 103px;
    width: 212px;
    height: 1px;
    background-color: white;
}
.player-left-line { left: var(--player-inside-x); }
.player-right-line { right: var(--player-inside-x); }

/* Player Hits */
.player-hits {
    position: absolute;
    top: 121px;
    display: flex;
}

.player-left-hits { left: var(--player-inside-x); }

.player-right-hits {
    right: var(--player-inside-x);
    text-align: right;
}

/* Player Hit Containers */
.player-hit-number-container {
    font-size: 21px;
    font-weight: 700;
    font-family: "Alan Sans", sans-serif;
}

.player-hit-count-container {
    position: absolute;
    font-size: 21px;
    font-weight: 700;
    font-family: "Alan Sans", sans-serif;
    color: #aeaeae;
    text-shadow:
        0 0 8px rgb(255 255 255 / 31%),
        0 0 16px rgb(255 255 255 / 23%),
        0 0 29px rgb(255 255 255 / 15%);
}
.player-left-hit-count-container { left: var(--player-hit-count-container); }
.player-right-hit-count-container { right: var(--player-hit-count-container); }

/* Player Hit Texts */
.player-hit-number-100 {
    color: #afff7a;
    text-shadow:
        0 0 8px rgb(58 255 25 / 31%),
        0 0 16px rgb(58 255 25 / 23%),
        0 0 29px rgb(58 255 25 / 15%);
}

.player-hit-number-50 {
    color: #7ab9ff;
    text-shadow:
        0 0 8px rgb(38 110 255 / 31%),
        0 0 16px rgb(38 110 255 / 23%),
        0 0 29px rgb(38 110 255 / 15%);
}

.player-hit-number-miss {
    color: #ff7a8a;
    text-shadow:
        0 0 8px rgb(255 38 64 / 31%),
        0 0 16px rgb(255 38 64 / 23%),
        0 0 29px rgb(255 38 64 / 15%);
}

/* ----- Score Number ----- */
.score-number {
    position: absolute;
    top: 834px;
    transform: translateX(-50%);
    opacity: 1;
    transition: 500ms ease-in-out;
}

.score-left-number {
    left: 25%;
    transform: translateX(-50%);
}

.score-right-number {
    right: 25%;
    transform: translateX(50%);
}

.score-number > * { margin: 0 -2px; }

/* ----- Score Bar ----- */
.score-bar {
    position: absolute;
    top: 853px;
    left: 50%;
    transform: translateX(-50%);
    width: 705px;
    height: 8px;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.score-bar-background {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: black;
}

.score-bar-overlay {
    --box-shadow-color: white;

    position: absolute;
    top: 0;
    height: 100%;
    box-shadow: 0 0 8px 2px var(--box-shadow-color);
}

.score-left-bar {
    --box-shadow-color: rgb(197 84 34);

    right: 50%;
    width: 210px;
    background-color: #ffa330;
    border-radius: 4px 0 0 4px;
}

.score-right-bar {
    --box-shadow-color: rgb(153 34 197);

    left: 50%;
    width: 210px;
    background-color: #c990ff;
    border-radius: 0 4px 4px 0;
}

/* ----- Score Difference ----- */
.score-difference {
    --text-shadow-color: 255 255 255;

    position: absolute;
    top: 868px;
    font-size: 28px;
    color: white;
    font-weight: 700;
    font-family: "Alan Sans", sans-serif;
    text-shadow:
        0 0 2px rgb(var(--text-shadow-color) / 100%),
        0 0 4px rgb(var(--text-shadow-color) / 95%),
        0 0 8px rgb(var(--text-shadow-color) / 80%);
    opacity: 1;
    transition: 500ms ease-in-out;
}

.score-left-difference {
    --text-shadow-color: 197 84 34;

    right: var(--score-difference-x);
}

.score-right-difference {
    --text-shadow-color: 153 34 197;

    left: var(--score-difference-x);
}

.score-left-difference span { margin-left: var(--score-difference-span-margin); }
.score-right-difference span { margin-right: var(--score-difference-span-margin); }

/* ----- Now Playing Panel ----- */
.now-playing-panel {
    --box-shadow-color: 255 255 255;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 760px;
    height: 103px;
    border: 2px solid rgb(255 255 255 / 50%);
    box-shadow:
        0 0 6px rgb(var(--box-shadow-color) / 90%),
        0 0 12px rgb(var(--box-shadow-color) / 70%),
        0 0 18px rgb(var(--box-shadow-color) / 50%),
        0 0 24px rgb(var(--box-shadow-color) / 30%);
}
.now-playing-panel-left-pick { --box-shadow-color: 197 84 34; }
.now-playing-panel-right-pick { --box-shadow-color: 153 34 197; }

.now-playing-panel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.65;
}

/* Now Playing Metadata */
.now-playing-metadata {
    position: absolute;
    left: 4px;
    color: white;
    font-family: "Vinque Antique", sans-serif;
    width: 530px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 0 8px rgb(229 229 229);
}

.now-playing-song-title {
    top: 14px;
    font-size: 19px;
}

.now-playing-artist {
    top: 36px;
    font-size: 15px;
}

/* Now Playing Mapper Difficulty */
.now-playing-mapper-difficulty {
    position: absolute;
    bottom: 12px;
    left: 4px;
    font-size: 15px;
    display: flex;
    gap: 7px;
}

.now-playing-mapper {
    color: white;
    font-family: "Vinque Antique", sans-serif;
}

.now-playing-difficulty {
    font-weight: 700;
    color: #b4b4b4;
    font-family: "Alan Sans", sans-serif;
}

/* Now Playing Stats */
.now-playing-stats {
    position: absolute;
    top: 13px;
    right: 12px;
    font-size: 19px;
    font-family: "Vinque Antique", sans-serif;
    display: flex;
    text-align: center;
    gap: 18px;
}

.now-playing-stat-text {
    --color: white;
    --text-shadow-color: white;

    color: var(--color);
    text-shadow: 0 0 8px var(--text-shadow-color);
}

.now-playing-stat-text-cs {
    --color: #63f7e7;
    --text-shadow-color: #5193ff;
}

.now-playing-stat-text-ar {
    --color: #ffa2d4;
    --text-shadow-color: #ff2074;
}

.now-playing-stat-text-od {
    --color: #ff9b91;
    --text-shadow-color: #ff3c28;
}

.now-playing-stat-text-sr {
    --color: #fdff65;
    --text-shadow-color: #faff69;
}

/* Now Playing Bottom Stats */
.now-playing-bottom-stats {
    position: absolute;
    right: 12px;
    bottom: 12px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    font-family: "Alan Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.now-playing-bottom-bpm {
    display: flex;
    gap: 5px;
    align-items: center;
}

.now-playing-bottom-bpm-text {
    --dimension: 16px;

    font-size: 12px;
    color: black;
    background-color: white;
    height: var(--dimension);
    line-height: var(--dimension);
    font-weight: 700;
    font-family: "Alan Sans", sans-serif;
    text-align: center;
    padding: 0 3px;
}