:root {
    --player-container-x: 25px;
    --player-name-x: 112px;
}

@font-face {
    font-family: Caldstone;
    src: url("../fonts/caldstone.semibold.otf")
}

@font-face {
    font-family: "Vinique Antique";
    src: url("../fonts/vinque-antique.bold.otf");
}


/* ----- Whole Page ----- */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("static/background.png")
}

/* ----- Top Area ----- */
.logo {
    position: absolute;
    left: 780px;
    top: 11px;
}

.round-area {
    position: absolute;
    top: 35px;
    left: 949px;
}

.round-name {
    --height: 45px;

    top: 39px;
    width: 171px;
    height: var(--height);
    line-height: var(--height);
    color: #EEEEEE;
    text-align: center;
    font-family: Caldstone;
    font-size: 1.5rem;
    text-shadow: 0 0 13px rgb( 255 255 255 / 0.39 );
}

/* ----- Player Area ----- */
.player-container {
    position: absolute;
    top: 857px;
}
.player-left-container { left: var(--player-container-x); }
.player-right-container { right: var(--player-container-x); }

/* Player Profile Picture */
.player-profile-picture {
    --dimension: 96px;

    width: var(--dimension);
    height: var(--dimension);
    border-radius: 15px;
    background: center / cover;
    background-image: url("https://a.ppy.sh/9803745")
}

.player-profile-picture > * {
    position: absolute;
    top: 0;
    left: 0;
}

/* Player Name */
.player-name {
    --height: 26px;

    position: absolute;
    top: 21px;
    background-color: white;
    font-family: "Vinique Antique";
    font-size: 1.75rem;
    padding: 0 2px;
    height: var(--height);
    line-height: var(--height);
}
.player-left-name { left: var(--player-name-x); }
.player-right-name { right: var(--player-name-x); }