:root {
    --player-container-x: 25px;
    --player-inside-x: 112px;
    --player-hit-count-container: 77px;
}

@font-face {
    font-family: Caldstone;
    src: url("../fonts/caldstone.semibold.otf")
}

@font-face {
    font-family: "Vinique Antique";
    src: url("../fonts/vinque-antique.bold.otf");
}

@font-face {
    font-family: "Alan Sans";
    font-weight: 700;
    src: url("../fonts/AlanSans-Bold.ttf");
}


/* ----- Whole Page ----- */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("static/background.png")
}

/* ----- Top Area ----- */
.logo {
    position: absolute;
    left: 780px;
    top: 11px;
}

.round-area {
    position: absolute;
    top: 35px;
    left: 949px;
}

.round-name {
    --height: 45px;

    top: 39px;
    width: 171px;
    height: var(--height);
    line-height: var(--height);
    color: #EEEEEE;
    text-align: center;
    font-family: Caldstone, serif;
    font-size: 1.5rem;
    text-shadow: 0 0 13px rgb( 255 255 255 / 0.39 );
}

/* ----- Player Area ----- */
.player-container {
    position: absolute;
    top: 857px;
}
.player-left-container { left: var(--player-container-x); }
.player-right-container { right: var(--player-container-x); }

/* Player Profile Picture */
.player-profile-picture {
    --dimension: 96px;

    width: var(--dimension);
    height: var(--dimension);
    border-radius: 15px;
    background: center / cover;
    background-image: url("https://a.ppy.sh/9803745")
}

.player-profile-picture > * {
    position: absolute;
    top: 0;
    left: 0;
}

/* Player Name */
.player-name {
    --height: 26px;

    position: absolute;
    top: 21px;
    background-color: white;
    font-family: "Vinique Antique", sans-serif;
    font-size: 1.75rem;
    padding: 0 2px;
    height: var(--height);
    line-height: var(--height);
}
.player-left-name { left: var(--player-inside-x); }
.player-right-name { right: var(--player-inside-x); }

/* Player Line 2 */
.player-line-2 {
    position: absolute;
    top: 55px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.player-left-line-2 { left: var(--player-inside-x); }
.player-right-line-2 {
    right: var(--player-inside-x);
    flex-direction: row-reverse;
}

.player-seed {
    font-size: 22px;
    color: white;
    font-family: Caldstone, serif;
}

.player-star-container { display: flex; }
.player-right-star-container { flex-direction: row-reverse; }

.player-star {
    --dimension: 63px;

    width: var(--dimension);
    height: var(--dimension);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -15px;
}

/* Player Line */
.player-line {
    position: absolute;
    top: 103px;
    width: 212px;
    height: 1px;
    background-color: white;
}
.player-left-line { left: var(--player-inside-x); }
.player-right-line { right: var(--player-inside-x); }

/* Player Hits */
.player-hits {
    position: absolute;
    top: 121px;
    display: flex;
}
.player-left-hits { left: var(--player-inside-x); }
.player-right-hits {
    right: var(--player-inside-x);
    text-align: right;
}

/* Player Hit Containers */
.player-hit-number-container {
    font-size: 21px;
    font-weight: 700;
    font-family: "Alan Sans", sans-serif;
}

.player-hit-count-container {
    position: absolute;
    font-size: 21px;
    font-weight: 700;
    font-family: "Alan Sans", sans-serif;
    color: #aeaeae;
    text-shadow:
        0 0 8px rgb(255 255 255 / 31%),
        0 0 16px rgb(255 255 255 / 23%),
        0 0 29px rgb(255 255 255 / 15%);
}
.player-left-hit-count-container { left: var(--player-hit-count-container); }
.player-right-hit-count-container { right: var(--player-hit-count-container); }

/* Player Hit Texts */
.player-hit-number-100 {
    color: #afff7a;
    text-shadow:
        0 0 8px rgb(58 255 25 / 31%),
        0 0 16px rgb(58 255 25 / 23%),
        0 0 29px rgb(58 255 25 / 15%);
}

.player-hit-number-50 {
    color: #7ab9ff;
    text-shadow:
        0 0 8px rgb(38 110 255 / 31%),
        0 0 16px rgb(38 110 255 / 23%),
        0 0 29px rgb(38 110 255 / 15%);
}

.player-hit-number-miss {
    color: #ff7a8a;
    text-shadow:
        0 0 8px rgb(255 38 64 / 31%),
        0 0 16px rgb(255 38 64 / 23%),
        0 0 29px rgb(255 38 64 / 15%);
}

/* ----- Score Number ----- */
.score-number {
    position: absolute;
    top: 834px;
    transform: translateX(-50%);
}

.score-left-number {
    left: 25%;
    transform: translateX(-50%);
}

.score-right-number {
    right: 25%;
    transform: translateX(50%);
}

.score-number > * { margin: 0 -2px; }